{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Bienvenue sur mon Film Recommender</h1>
    <p class="lead">Trouver des recommandations de film en fonction d'un film</p>
    <hr class="my-4">
    {% if messages %}
    <div class="alert alert-danger" role="alert">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <form method="post" action="{% url 'recommend' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="movie">Entrer le titre d'un film:</label>
            <input type="text" class="form-control" id="movie" name="movie" required>
        </div>
<!--        <div class="form-group">-->
<!--            <label for="genre">Filter by genre:</label>-->
<!--            <input type="text" class="form-control" id="genre" name="genre">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="keywords">Filter by keywords:</label>-->
<!--            <input type="text" class="form-control" id="keywords" name="keywords">-->
<!--        </div>-->
        <button type="submit" class="btn btn-primary">Obtenir la recommandation</button>
    </form>
</div>
{% endblock %}
